        <footer>
            <p class="mt-5 mb-3 text-muted text-center">&copy;joehinmoro(Tyrell) for I4GxZuri</p>
        </footer>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
